# requirements.txt
streamlit
PyPDF2
spacy
networkx
sentence-transformers
scikit-learn
google-generativeai
python-dotenv
plotly
matplotlib
numpy
langchain
langchain_google_genai
langchain_community
langchain_groq
rouge_score
langchain_huggingface
faiss-cpu